.shop_main
  .header
    .header__box
      =link_to root_path, class:'title', method: :get do
        %h1.header__box__title S
    
    .header-box__left
      = search_form_for @q, url: search_shops_path, class: 'shop_search' do |f|
        .search_field
          = f.text_field @keyword, class: 'form_search', placeholder: '店舗名・キーワードなどで探せます'
          %label.search-label{for: "search-icon"}
            %i.fa.fa-search
            = f.submit '', id: "search-icon"

      .header-link
        - if user_signed_in?
          .header-link__mypage
            = link_to 'マイページ', user_path(current_user.id)
          .header-link__myshop
            - if current_user.shop.present?
              = link_to 'マイショップ', shop_path(current_user.shop.id)
            - else
              = link_to 'マイショップ', new_shop_path
          .header-link__logout
            = link_to 'ログアウト', destroy_user_session_path

        - else
          .header-link__login
            = link_to 'ログイン', user_session_path
          .header-link__new-user
            = link_to '新規登録', new_user_session_path


  .main
    .pickup
      .pickup__title おすすめ店舗
      .pickup__image
        =render partial: "shared/shop-box"
    .pickup
      .pickup__title 新着店舗
      .pickup__image
        =render partial: "shared/shop-box"
  .footer
    .footer__content
      =link_to '---search-space---', 'root_path', class: 'footer-link'