.wrapper
.container
  .detail
    %h2.detail__head= @shop.name
    .detail__box
      .detail__box__shop
        .detail__box__shop__image--large
          -# = image_tag "#{@images.first.image}", alt: '商品画像'
        // business_statusが2(購入済)の時、SOLDを表示する
        -# - if @shop.business_status == "sale"
        -#   .triangle_box
        -#     .triangle_box__sold_triangle
        -#       .triangle_box__sold_triangle__text SOLD
        .detail__box__shop__image--small
          -# - @images.each do |image|
          -#   = image_tag "#{image.image}", alt: '商品画像'
      %table.detail__box__shop
        %tbody.detail__box__shop__table
          %tr
            %th 座席数
            %td= @shop.capacity_i18n
          %tr
            %th 住所
            %td= "#{@shop.address+@shop.house_number}" 
          %tr
            %th 建物名
            %td=  @shop&.building_name
          %tr
            %th 部屋番号
            %td=  @shop&.room_number
          %tr
            %th 貸し出し時間
            %td= "#{@shop.lending_time_start} - #{@shop.lending_time_end}"
          %tr
            %th 貸し出し金額
            %td=  "¥ #{number_with_delimiter(@shop.price)}"
          %tr
            %th 店舗営業時間
            %td= "#{@shop.business_hour_start} - #{@shop.business_hour_end}"
          %tr
            %th TEL
            %td= @shop.phone_number
          
          %tr
            %th 店舗説明
            %td= @shop.explanation

  #calendar
  :javascript
  
    var event_ids = #{@events.ids}
     
    var calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month'
      },
      axisFormat: 'H:mm',
      timeFormat: 'H:mm',
      monthNames: ['１月','２月','３月','４月','５月','６月','７月','８月','９月','１０月','１１月','１２月'],
      events: { //日ごとの情報をイベントとして取得
    
      url: '/events.json',
      type: 'GET',
      data: {
        id: event_ids,
      },
      },

    });
