%nav.navbar.navbar-light{style: :"background-color: #e3f2fd;" }
  %a.navbar-brand 登録済みタスク一覧

= form_for @event, do |f|


  = f.label :title
  = f.text_field :title, class: 'form-control', placeholder: "予約可"

  = f.label :start
  = f.datetime_select :start, minute_step: 30, class: 'form-control'

  = f.label :end
  = f.datetime_select :end, minute_step: 30, class: 'form-control'

  = f.submit '作成する', class: "btn btn-primary"


